#content {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#WeatherDiv {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#Weather {
    width: 18rem;
}

#WeatherContainer {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}